<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css" />
    <title>Document</title>
</head>
<body>
    <h1>Edit Pokemon Page</h1>
    <nav class='new'>
    <form action = "/pokemon/<%=pokemon.id%>?_method=PUT" method="POST">
    Name: <input type="text" name="name" value="<%=pokemon.name%>"/><br/>
    IMG: <input type="text" name="img" value="<%=pokemon.img%>"/><br/>
    Player: <select name="player">
        <% for ( let i = 0; i < players.length; i++ ) { let selected = ( i == 0
        ) ? "selected" : ""; %>
        <option value="<%=players[i].id%>" selected
          ><%=players[i].name%>
        </option>
        <% } %>
      </select>
    <input type="submit" name = "" value="Submit Changes"/>
    </form>
    </nav>  
    
</body>
</html>